.ifcare-navigation {
    margin: 20px 0;
}

.ifcare-navigation .btn {
    margin-right: 10px;
}

.ifcare-toggle-container {
    margin: 20px;
}

.ifcare-toggle {
    margin-bottom: 10px;
}

.toggle-content {
    display: none;
    margin-top: 10px;
}

.list-group-item {
    margin: 5px 0;
}

/* Ajuste para adicionar espaçamento entre os itens do formulário */
.fitem {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    /* Aumenta o espaçamento entre os itens */
}

/* Espaçamento dentro dos labels e campos */
.fitem .fitemtitle {
    width: 25%;
    margin-right: 20px;
    /* Aumenta o espaço entre o label e o campo */
}

.fitem .felement {
    flex: 1;
    margin-left: 0;
    padding-left: 0;
}



/* Borda inferior do cabeçalho da tabela */
.generaltable thead th {
    border-bottom: 3px solid #000;
    /* Borda inferior mais espessa para o cabeçalho */
}

/* Borda inferior da linha abaixo do cabeçalho */
.generaltable thead+tbody tr:first-child th,
.generaltable thead+tbody tr:first-child td {
    border-top: 2px solid #333;
    /* Borda superior da primeira linha do corpo da tabela */
}


#resumo-selecoes {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    background-color: #f9f9f9;
}

#resumo-selecoes p {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.resumo-classe {
    margin-bottom: 10px;
}

.resumo-classe strong {
    color: #0056b3;
}

.resumo-itens {
    color: #333;
    font-style: italic;
}


.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
}

/* Ajusta a largura das seções */
.custom-width {
    max-width: 800px; /* Limita a largura a 800px, por exemplo */
    margin: 0 auto; /* Centraliza */
}

.course-section-header.d-flex {
    justify-content: space-between; /* Espaça os itens dentro do cabeçalho */
    padding: 10px; /* Adiciona um espaçamento ao redor do conteúdo do cabeçalho */
}

.btn-icon {
    padding: 5px 10px; /* Reduz a área clicável dos ícones */
}

.sectionname {
    font-size: 1.2em; /* Ajuste o tamanho do texto do título */
    padding-left: 10px; /* Adiciona um pequeno espaçamento no início */
}

.collapse .content {
    padding: 10px; /* Reduz o espaçamento interno do conteúdo colapsado */
    margin-top: 10px; /* Reduz o espaço acima do conteúdo */
}

.course-section-header {
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    padding: 10px;
    display: flex;
    align-items: center;
}

.sectionname {
    text-align: left; /* Garante que o texto do título fique alinhado à esquerda */
    padding-left: 10px; /* Pequeno espaçamento à esquerda, caso queira */
    flex-grow: 1; /* Faz o título ocupar todo o espaço disponível à esquerda */
}

.btn-icon {
    margin-left: auto; /* Garante que o ícone de colapso fique à direita */
}

.selected-emotions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.emotion-tag {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
}

.emotion-tag .close-btn {
    margin-left: 10px;
    color: #888;
    font-weight: bold;
    cursor: pointer;
}

