<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-color: #f0f0f0;
    }

    .block-content {
        width: 400px;
        height: 400px;
        max-width: 100%; /* Para garantir que o card seja responsivo */
        background-color: #ffffff;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="number"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .rating-input {
        display: flex;
        justify-content: space-between;
    }

    .rating-input label {
        font-size: 20px;
    }

    .rating-input input[type="radio"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #ccc;
        outline: none;
        margin: 0 5px;
        cursor: pointer;
    }

    .rating-input input[type="radio"]:checked {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }
       .links {
            margin-bottom: 20px;
        }

        .links a {
            display: block;
            text-decoration: none;
            color: #4CAF50;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .links a:hover {
            text-decoration: underline;
        }

        /* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            border-radius: 10px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div class="container">
    <div class="block-content">
        <div class="links">
                <a href="#" id="openModal">Cadastrar Coleta</a>
            <a href="{{listarColetaURL}}">Listar Coleta</a>
        </div>

    </div>
</div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Cadastro de Coleta</h2>
            <form action="{{cadastrarColetaAction}}" method="post">
                <label for="coleta-name">Nome da Coleta:</label>
                <input type="text" id="coleta-name" name="coleta-name" required>
                
                <label for="coleta-description">Descrição:</label>
                <textarea id="coleta-description" name="coleta-description" required></textarea>
                
                <input type="submit" value="Cadastrar">
            </form>
        </div>
    </div>


        <script>
        // Modal script
        document.addEventListener('DOMContentLoaded', function() {
            var modal = document.getElementById("myModal");
            var btn = document.getElementById("openModal");
            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function() {
                modal.style.display = "block";
            }

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>